@import url('mocha.css');

@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;
@define-color background #1e1e2e;

@keyframes fadeIn {
    0% {}
    100% {}
}

* {
    all:unset;
    font-family: 'JetBrainsMono';
    font-size: 15px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 8px;
    border-radius: 15px;
    background-color: alpha(@base,.5);
}

#inner-box {
    margin: 0px;
    padding: 2px;
    border: none;
}

#outer-box {    
    border: none;
}

#scroll {
    margin: 0px;
    padding: 8px;
    border: none;
}

#input {
    all:unset;
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 8px;
    padding: 10px;
    padding-right: 6px;
    border: none;
    outline: none;
    color: @text;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius: 10px;
    background-color: alpha(@surface0,.2);
}

#input image {
    border: none;
    color: @mauve;
    padding-right: 6px;
}

#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius: 10px;
}

#text {
    margin: 2px;
    border: none;
    color: @text;
    outline: none;
}

#entry {
    border: none;
    margin: 3px;
    padding: 8px;
}

#entry arrow {
    border: none;
    color: @lavender;
}

#entry:selected {
    box-shadow: 1px 1px 5px rgba(255,255,255, .03);
    border: none;
    border-radius: 20px;
    background-color: alpha(@surface1,.5);
}

#entry:selected #text {
    color: @mauve;
}

#entry:drop(active) {
    background-color: @lavender !important;
}

